Production_Codes/stepfunctions_json.txt
{
  "Comment": "Credit card ML batch pipeline with monitoring",
  "StartAt": "ExecutionRouter",
  "States": {

    "ExecutionRouter": {
      "Type": "Choice",
      "Choices": [
        { "Variable": "$.run", "StringEquals": "train", "Next": "TrainModel" },
        { "Variable": "$.run", "StringEquals": "register", "Next": "SubmitRegisterModelCommand" },
        { "Variable": "$.run", "StringEquals": "select_champion", "Next": "SubmitSelectChampionCommand" },
        { "Variable": "$.run", "StringEquals": "batch_inference", "Next": "BatchInference" },
        { "Variable": "$.run", "StringEquals": "monitor", "Next": "RunMonitoringJob" }
      ],
      "Default": "TrainModel"
    },

    "TrainModel": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sagemaker:createTrainingJob.sync",
      "Parameters": {
        "TrainingJobName.$": "States.Format('creditcard-training-{}', States.UUID())",
        "AlgorithmSpecification": {
          "TrainingImage": "683313688378.dkr.ecr.us-east-1.amazonaws.com/sagemaker-scikit-learn:1.2-1-cpu-py3",
          "TrainingInputMode": "File"
        },
        "RoleArn": "arn:aws:iam::075960506214:role/service-role/AmazonSageMaker-ExecutionRole-20251229T181530",
        "InputDataConfig": [
          {
            "ChannelName": "train",
            "DataSource": {
              "S3DataSource": {
                "S3DataType": "S3Prefix",
                "S3Uri": "s3://mlops-creditcard/data/raw/",
                "S3DataDistributionType": "FullyReplicated"
              }
            }
          }
        ],
        "OutputDataConfig": {
          "S3OutputPath": "s3://mlops-creditcard/prod_outputs/trained_model/"
        },
        "ResourceConfig": {
          "InstanceType": "ml.m5.large",
          "InstanceCount": 1,
          "VolumeSizeInGB": 10
        },
        "StoppingCondition": {
          "MaxRuntimeInSeconds": 3600
        },
        "HyperParameters": {
          "sagemaker_program": "train.py",
          "sagemaker_submit_directory": "s3://mlops-creditcard/prod_codes/source_dir.tar.gz"
        }
      },
      "Next": "SubmitRegisterModelCommand"
    },

    "SubmitRegisterModelCommand": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "ResultPath": "$.RegisterCmd",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds": ["i-08d78517733fe6290"],
        "CloudWatchOutputConfig": {
          "CloudWatchLogGroupName": "/aws/ssm/register-model",
          "CloudWatchOutputEnabled": true
        },
        "Parameters": {
          "commands": [
            "set -e",
            "source /home/ssm-user/mlflow_env/bin/activate",
            "cd /home/ssm-user",
            "rm -rf mlops_run && mkdir mlops_run",
            "aws s3 cp s3://mlops-creditcard/prod_codes/source_dir.tar.gz mlops_run/",
            "tar -xzf mlops_run/source_dir.tar.gz -C mlops_run",
            "cd mlops_run",
            "export MODEL_TAR_S3_URI=s3://mlops-creditcard/prod_outputs/trained_model/",
            "export MLFLOW_TRACKING_URI=sqlite:////home/ssm-user/mlflow/mlflow.db",
            "python register_model.py"
          ]
        }
      },
      "Next": "WaitForRegisterModel"
    },

    "WaitForRegisterModel": {
      "Type": "Wait",
      "Seconds": 90,
      "Next": "CheckRegisterModelStatus"
    },

    "CheckRegisterModelStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "ResultPath": "$.RegisterStatus",
      "Parameters": {
        "CommandId.$": "$.RegisterCmd.Command.CommandId",
        "InstanceId": "i-08d78517733fe6290"
      },
      "Next": "CheckRegisterModelChoice"
    },

    "CheckRegisterModelChoice": {
      "Type": "Choice",
      "Choices": [
        { "Variable": "$.RegisterStatus.Status", "StringEquals": "InProgress", "Next": "WaitForRegisterModel" },
        { "Variable": "$.RegisterStatus.Status", "StringEquals": "Success", "Next": "SubmitSelectChampionCommand" }
      ],
      "Default": "FailRegisterModel"
    },

    "FailRegisterModel": {
      "Type": "Fail",
      "Cause": "Register model failed"
    },

    "SubmitSelectChampionCommand": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "ResultPath": "$.ChampionCmd",
      "Parameters": {
        "DocumentName": "AWS-RunShellScript",
        "InstanceIds": ["i-08d78517733fe6290"],
        "CloudWatchOutputConfig": {
          "CloudWatchLogGroupName": "/aws/ssm/select-champion",
          "CloudWatchOutputEnabled": true
        },
        "Parameters": {
          "commands": [
            "set -e",
            "source /home/ssm-user/mlflow_env/bin/activate",
            "cd /home/ssm-user",
            "rm -rf mlops_run && mkdir mlops_run",
            "aws s3 cp s3://mlops-creditcard/prod_codes/source_dir.tar.gz mlops_run/",
            "tar -xzf mlops_run/source_dir.tar.gz -C mlops_run",
            "cd mlops_run",
            "export MLFLOW_TRACKING_URI=sqlite:////home/ssm-user/mlflow/mlflow.db",
            "python championselection.py"
          ]
        }
      },
      "Next": "WaitForSelectChampion"
    },

    "WaitForSelectChampion": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "CheckSelectChampionStatus"
    },

    "CheckSelectChampionStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "ResultPath": "$.ChampionStatus",
      "Parameters": {
        "CommandId.$": "$.ChampionCmd.Command.CommandId",
        "InstanceId": "i-08d78517733fe6290"
      },
      "Next": "CheckSelectChampionChoice"
    },

    "CheckSelectChampionChoice": {
      "Type": "Choice",
      "Choices": [
        { "Variable": "$.ChampionStatus.Status", "StringEquals": "InProgress", "Next": "WaitForSelectChampion" },
        { "Variable": "$.ChampionStatus.Status", "StringEquals": "Success", "Next": "DeleteInferenceModel" }
      ],
      "Default": "FailSelectChampion"
    },

    "FailSelectChampion": {
      "Type": "Fail",
      "Cause": "Champion selection failed"
    },

    "DeleteInferenceModel": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sagemaker:deleteModel",
      "Parameters": {
        "ModelName": "inference-aws-model"
      },
      "Catch": [
        { "ErrorEquals": ["States.ALL"], "Next": "CreateInferenceModel" }
      ],
      "Next": "CreateInferenceModel"
    },

    "CreateInferenceModel": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sagemaker:createModel",
      "Parameters": {
        "ModelName": "inference-aws-model",
        "ExecutionRoleArn": "arn:aws:iam::075960506214:role/service-role/AmazonSageMaker-ExecutionRole-20251229T181530",
        "PrimaryContainer": {
          "Image": "683313688378.dkr.ecr.us-east-1.amazonaws.com/sagemaker-scikit-learn:1.2-1-cpu-py3",
          "ModelDataUrl": "s3://mlops-creditcard/prod_codes/inference_aws.tar.gz",
          "Environment": {
            "SAGEMAKER_PROGRAM": "inference.py",
            "SAGEMAKER_SUBMIT_DIRECTORY": "s3://mlops-creditcard/prod_codes/inference_aws.tar.gz"
          }
        }
      },
      "Next": "BatchInference"
    },

    "BatchInference": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sagemaker:createTransformJob.sync",
      "Parameters": {
        "TransformJobName.$": "States.Format('creditcard-batch-{}', States.UUID())",
        "ModelName": "inference-aws-model",
        "TransformInput": {
          "DataSource": {
            "S3DataSource": {
              "S3DataType": "S3Prefix",
              "S3Uri": "s3://mlops-creditcard/prod_inputs/batch_input.csv"
            }
          },
          "ContentType": "text/csv",
          "SplitType": "Line"
        },
        "TransformOutput": {
          "S3OutputPath": "s3://mlops-creditcard/prod_outputs/predictions/",
          "Accept": "text/csv",
          "AssembleWith": "Line"
        },
        "TransformResources": {
          "InstanceType": "ml.m5.large",
          "InstanceCount": 1
        }
      },
      "Next": "RunMonitoringJob"
    },

    "RunMonitoringJob": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sagemaker:createProcessingJob.sync",
      "Parameters": {
        "ProcessingJobName.$": "States.Format('creditcard-monitoring-{}', States.UUID())",
        "RoleArn": "arn:aws:iam::075960506214:role/service-role/AmazonSageMaker-ExecutionRole-20251229T181530",
        "AppSpecification": {
          "ImageUri": "683313688378.dkr.ecr.us-east-1.amazonaws.com/sagemaker-scikit-learn:1.2-1-cpu-py3",
          "ContainerEntrypoint": [
            "bash",
            "-c",
            "tar -xzf /opt/ml/processing/code/source_dir.tar.gz -C /opt/ml/processing/code && pip install -r /opt/ml/processing/code/requirements.txt && python /opt/ml/processing/code/monitor.py"
          ]
        },
        "ProcessingResources": {
          "ClusterConfig": {
            "InstanceType": "ml.m5.large",
            "InstanceCount": 1,
            "VolumeSizeInGB": 10
          }
        }
      },
      "End": true
    }
  }
}
