Production_Codes/stepfunctions_json.txt
{
  "Comment": "Credit card ML batch pipeline",
  "StartAt": "TrainModel",
  "States": {
    "TrainModel": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sagemaker:createTrainingJob.sync",
      "Parameters": {
        "TrainingJobName.$": "States.Format('creditcard-training-job-{}', States.UUID())",
        "AlgorithmSpecification": {
          "TrainingImage": "683313688378.dkr.ecr.us-east-1.amazonaws.com/sagemaker-scikit-learn:1.2-1-cpu-py3",
          "TrainingInputMode": "File"
        },
        "RoleArn": "arn:aws:iam::075960506214:role/service-role/AmazonSageMaker-ExecutionRole-20251229T181530",
        "InputDataConfig": [
          {
            "ChannelName": "train",
            "DataSource": {
              "S3DataSource": {
                "S3DataType": "S3Prefix",
                "S3Uri": "s3://mlops-creditcard/data/raw/",
                "S3DataDistributionType": "FullyReplicated"
              }
            }
          }
        ],
        "OutputDataConfig": {
          "S3OutputPath": "s3://mlops-creditcard/prod_outputs/artifacts/trained_model/"
        },
        "ResourceConfig": {
          "InstanceType": "ml.m5.large",
          "InstanceCount": 1,
          "VolumeSizeInGB": 10
        },
        "StoppingCondition": {
          "MaxRuntimeInSeconds": 3600
        },
        "HyperParameters": {
          "sagemaker_program": "train.py",
          "sagemaker_submit_directory": "s3://mlops-creditcard/prod_codes/source_dir.tar.gz"
        }
      },
      "Next": "RegisterModel"
    },
    "RegisterModel": {
  "Type": "Task",
  "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand.sync",
  "TimeoutSeconds": 900,
  "Parameters": {
    "DocumentName": "AWS-RunShellScript",
    "InstanceIds": [
      "i-08d78517733fe6290"
    ],
    "Parameters": {
      "commands": [
        "set -e",
        "cd /home/ssm-user/mlflow",
        "source venv/bin/activate || true",
        "export MODEL_TAR_S3_URI=s3://mlops-creditcard/prod_outputs/artifacts/trained_model/",
        "python register_model.py"
      ]
    }
  },
      "Next": "SelectChampion"
    },
    "SelectChampion": {
      "Type": "Pass",
      "Result": {
        "status": "champion selected"
      },
      "Next": "BatchInference"
    },
    "BatchInference": {
      "Type": "Pass",
      "Result": {
        "status": "batch inference completed"
      },
      "End": true
    }
  }
}



